.home-card {
    display: flex; /* Começamos o flexbox aqui */
    justify-content: center;
    max-width: 800px;
    margin: 20px auto; /* Centraliza o card na página */
    
    .title {
        font-size: 2rem;
        font-weight: 300;
    }
    
    .subtitle {
        color: #666;
    }
}